!! Colorscheme 

! special

*.foreground:	#aaaaaa
*.background:   #000000
!*.cursorColor:  #c5c8c6 
*.cursorColor: 1
!*.alpha: 0.5
! red 
!*.color1:       #cc342b 
!*.color9:       #cc342b 

!! URxvt Appearance 	
!URxvt.font: xft:Inconsolata:size=8 
!URxvt.font: xft:Mono:pixelsize=14:antialias=true 
URxvt.font: xft:Inconsolata:pixelsize=30:antialias=true 
!URxvt.boldFont: xft: 
!URxvt.italicFont: xft:DejaVu Sans Mono:pixelsize=15,style=Book 
!URxvt.boldItalicfont: xft:DejaVu Sans Mono:pixelsize=15,style=Book 
URxvt.letterSpace: 0 
URxvt.lineSpace: 0 
URxvt.geometry: 92x24 
!URxvt.internalBorder: 24 
URxvt.internalBorder: 4 
URxvt.cursorBlink: true 
URxvt.cursorUnderline: true 
URxvt.saveline: 2048 
URxvt.scrollBar: false 
URxvt.scrollBar_right: false 
URxvt.urgentOnBell: true 
URxvt.depth: 24 
URxvt.iso14755: false 
URxvt.inheritPixmap: true
URxvt.transparent: true
URxvt.shading: 40
! ^ 0-99 darkens | 101-200 lightens 
